{{!-- {{#each artInfo}}
<div id="imagesDiv"> Photos would go here</div>
<hr>
{{name}}
<hr> {{artist}}
<small class="float-sm-right">Uploader's Name</small>
<hr>
<strong>Description: </strong>
<p>{{description}}</p>
<p>{{latitude}}</p>
<p>{{longitude}}</p>

<hr>
<strong>Comments</strong>
<br> {{/each}} --}}



{{#each artInfo}}
<h1>{{name}}</h1>
<h6>by {{artist}}</h6>
<p>{{description}}</p>
<br> {{/each}}
