{{!-- {{#each artInfo}}
<div id="imagesDiv"></div>
<hr>
<h2 class="artNameDisplay">{{name}}</h2>
<hr> {{artist}}
<small class="float-sm-right">Uploader's Name</small>
<hr>
<strong>Description: </strong>
<p>{{description}}</p>
<p>{{latitude}}</p>
<p>{{longitude}}</p>

<hr>
<strong>Comments</strong>
<br> {{/each}} --}}


<br>
<h1>Below is a List of All Art in Our Database</h1>
<div class="instructions">
  <em>Click a marker on the map to view info for art at that location.</em>
</div>
<br>
{{#each artInfo}}
<h2>{{name}}</h2>
<h6>by {{artist}}</h6>
<p>{{description}}</p>
<br> {{/each}}
