<div id="map"></div>


{{!-- <div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <h2>A List of Public Art in Atlanta!</h2>
        {{#each art}}
        <div class="card m-4">
          <div class="card-header">
            <h3>{{this.name}}</h3>
            <p><em>Submitted by {{this.User.username}}</em></p>
          </div>
          <div class="card-body">
            <p>By {{this.artist}}</p>
            <p>{{this.description}}</p>
            <p>Lat: {{this.latitude}} Long: {{this.longitude}}</p>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</div> --}}

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/map-data.js"></script>